[main]
cache_dir = cache/
results_dir = ../results/
data_dir = ../data/

[database]
user = root
pw =
host = 127.0.0.1
port = 3306
cache_dir = cache/
timeout = 15000
buffer_pool_size = 2147483648

[parser]
cache_dir = cache/parser/

[aig]
dir = aig

[tqc]
dir = tqc
